.post
  overflow hidden
  padding-top 3rem
  padding-bottom 3rem
  position relative

  .markdown-container
    & > h1, & > h2, & > h3
      &:first-child + p::first-letter
        font-size 3rem
        float left
        line-height 3rem
        padding-right .5rem

.post-meta
  ft-primary()
  margin-top 0

.post-category, .post-date, .post-author
  font-size .7rem

.post-category, .post-date
  text-transform uppercase

.post-author
  display block
  line-height 1
