@require './_post-footer'
@require './_post-nav'
@require './_post-tldr'
@require './_post'

.posts
  padding 1rem

  +tablet()
    padding 1rem 10%

  +desktop()
    padding 1rem 10% 1rem 40%


  a.fa:hover
    color link-hover
