btn-primary-bg = pearl-white
btn-primary-bg-contrast = link-hover
btn-primary-ft = pearl-black
btn-primary-ft-contrast = #fff

.rlb .btn
  padding .5rem
  text-align center
  font-weight 100
  font-family 'Montserrat', sans-serif
.rlb .btn-primary
  display block
  border none
  background-color btn-primary-bg
  color btn-primary-ft
  text-transform uppercase

  &:hover
    background-color btn-primary-bg-contrast
    color btn-primary-ft-contrast
    text-decoration none
