footer.rlb-footer
  h3.headline-primary Falk Hoppe
  
  p.headline-sub Software Developer
  
  .copy-right-notice
    p.copyright-hint 
      | &copy; Copyright #{copyrightYear} 
      a(href="https://github.com/mechanoid") Falk Hoppe
