footer.rlb-footer
  .author-information
    .author Falk Hoppe
    .author-subline 
      | Software Dev in 
      span.highlight ♥ 
      |  with Javascript, GO, Ruby, HTML, CSS and at 
      a(href="http://www.innoq.com") innoQ
      
    .social-networks
      .twitter 
        i(class="fa fa-twitter") 
        | 
        a(href="https://twitter.com/nothing_box") twitter/@nothing_box
    
      .github 
        i(class="fa fa-github-alt") 
        | 
        a(href="https://github.com/mechanoid") github/@mechanoid
    
  
  .copy-right-notice
    p.impressum-link
      a(href="/impressum.html") Impressum
      
    p.copyright-hint 
      | &copy; Copyright #{copyrightYear}. 
      br
      | All rights reserved.
