footer.rlb-footer
  .author-information
    .author Falk Hoppe
    .author-subline 
      | Software Dev in 
      span.highlight ♥ 
      |  with Javascript, GO, Ruby, HTML, CSS and at 
      a(href="http://www.innoq.com") innoQ
      
    .social-networks
      .twitter 
        i(class="fa fa-twitter") 
        | 
        a(href="https://twitter.com/nothing_box") @nothing_box
    
  
  .copy-right-notice
    p.copyright-hint 
      | &copy; Copyright #{copyrightYear}. 
      br
      | All rights reserved.
