include ../helper/post_helper.jade
include ../../tmp/post_include_mixins.jade

extends ./frame.jade

block body
  .hero-banner-page
    main.rlb-content.hero-banner-content(id="rlb-main")
      section.posts
        block content
          
      include footer.jade

    
    // BG image from https://unsplash.com/photos/8mqOw4DBBSg
    header.hero-banner(style="background-image: url(assets/images/artichokes.jpg)")
      .hero-banner-message
        h1.headline-primary Relentless thoughts on software development,<br> frontend architecture<br> and related stuff
        p.headline-sub by Falk Hoppe
        a.btn.btn-primary.hero-banner-call2action(href="#rlb-main") read
