@require './_nav-*'

.nav
  position fixed
  top 0
  bottom 0
  left 100%
  background-color #fff
  width 100%
  z-index 999
  -webkit-transform-style: preserve-3d;

  &.active
    animation: nav-slide 0.2s forwards;

.nav-close, .nav-toggle
  position absolute
  z-index 1000
  border none
  outline none

.nav-close
  top 1rem
  right 1rem
  background-color transparent

.nav-toggle
  right 100%
  top 0
  width 3rem
  height 3rem
  background-color pearl-white
  color #000

  &:after
    content: 'menu'
    position absolute
    top 50%
    right 110%
    transform translateY(-50%)
    color pearl-white
    ft-montserrat()
    font-weight bold
    // font-size .6rem
