hero-banner-bg = pearl-black

@keyframes pulse {
    0% { transform: translateY(100%); position: fixed }
    50% { transform: translateY(50%); }
    100% { transform: translateY(0%);  position: static }
}

.rlb .hero-banner-content
  background-color main-bg
  padding 1rem

.rlb .hero-banner
  background-color hero-banner-bg

  .hero-banner-message
    padding 1rem

    .headline-sub, .headline-primary
      color pearl-white

    .hero-banner-call2action
      margin-top 2rem

.no-js .rlb .hero-banner-page
  display: flex;
  flex-flow: column;

  .hero-banner
    order: -1;
    margin-bottom 3rem

.js .rlb .hero-banner
    position fixed
    top 0
    right 0
    bottom 0
    left 0

    z-index -1

    .hero-banner-message
      position absolute
      left 0
      bottom 15%


.js .rlb
  // inspired by http://www.smashingmagazine.com/2015/12/reimagining-single-page-applications-progressive-enhancement/#the-default-view
  .hero-banner-page > *
    display none
    transform: translateY(100%);

  .hero-banner-page > *:last-child
    transform: translateY(0%);
    display block

  .hero-banner-page > *:target, .hero-banner-page > .selected-target
    display block
    transform: none
    animation: pulse .5s linear 1;


  .hero-banner-page > *:target ~ *, .hero-banner-page > .selected-target ~ *
    // display none
