hero-banner-bg = pearl-black

@keyframes pulse {
    0% { transform: translateX(-100%) }
    100% { transform: translateX(0%) }
}

.rlb .hero-banner-content
  background-color main-bg
  padding 1rem

.rlb .hero-banner
  background-color hero-banner-bg
  background-repeat no-repeat
  background-size cover

  .hero-banner-message
    padding 1rem

    .headline-sub, .headline-primary
      color pearl-white

    .hero-banner-call2action
      margin-top 2rem

.no-js .rlb .hero-banner-page
  display: flex;
  flex-flow: column;

  .hero-banner
    order: -1;
    margin-bottom 3rem

.js .rlb .hero-banner
    position fixed
    top 0
    right 0
    bottom 0
    left 0

    z-index -1

    .hero-banner-message
      position absolute
      left 0
      bottom 15%


.js .rlb
  // anchor-"navigation" with default fallback page inspired by
  // http://www.smashingmagazine.com/2015/12/reimagining-single-page-applications-progressive-enhancement/#the-default-view
  .hero-banner-page > *:first-child
    // transform translateX(-100%)
    transition right .5s
    height 100%
    width 100%

    overflow-y scroll
    -webkit-overflow-scrolling: touch;
    position fixed

    right 100%

    z-index -2

  .hero-banner-page > *:last-child
    display block
    z-index 1

  .hero-banner-page > *:target, .hero-banner-page > .selected-target
    right 0
    z-index 1

  .hero-banner-page > *:target ~ *, .hero-banner-page > .selected-target ~ *
    z-index -1
