@require '_reset'
@require "_typebase"

*
  box-sizing border-box

// low res mobile font-size
html
  font-size 100%

+mq_hires()
  html
    font-size 250%

mq_highres_desktop()
  html
    font-size 150%


.rlb
  background main-bg

.rlb
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300;
  padding 0
  margin 0

  p
    ft-base()
    font-size .8rem

  em
    font-style italic
