desktop()
  @media only screen and (min-width: 768px)
    {block}

// mq_desktop_lowres()
//   @media
//   (-webkit-min-device-pixel-ratio: 3) and (min-device-width: 416px),
//   (min-resolution: 192dpi) and (min-device-width: 416px)
//     {block}
