desktop()
  @media only screen and (min-width: 768px)
    {block}

mq_highres()
  @media (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 192dpi)
    {block}
