ft-montserrat()
  font-family 'Montserrat', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

ft-lora()
  font-family 'Lora', serif

ft-base()
  ft-lora()

ft-primary()
  ft-montserrat()
