.rlb .rlb-footer .author-information
  ft-montserrat()
  background-color #000
  text-align center
  padding 3rem 1rem
  color #fff

  a
    color #fff
    font-size .6rem

  .author-subline
    padding-top .5rem
    font-size .6rem
