.rlb .rlb-footer .author-information
  ft-montserrat()
  background-color pearl-white
  text-align center
  padding 3rem 1rem


  a
    font-size .6rem

  .author-subline
    padding-top .5rem
    font-size .6rem
