.rlb .rlb-footer .impressum-link
    ft-montserrat()
    text-transform uppercase
    font-size .6rem
    letter-spacing 1px
    border-bottom 1px solid #fff
    padding-bottom 1rem

    a
      color #fff
