.markdown-container
  h1, h2, h3, h4, h5, h6
    margin-top: 1.5em;
    margin-bottom: 0;

  h1
    font-size: 1.828rem;
    line-height: 2rem;
  h2
    font-size: 1.414rem;
    line-height: 1.5rem;
  h3
    font-size: 1.107rem;
    line-height: 1.2rem;
  h4, h5, h6
    font-size: 1rem;
    line-height: 1.2rem;

  p
    margin-top .5rem
    margin-bottom 1rem
