include ./helper/post_helper.jade
include ../tmp/post_include_mixins.jade
include ./helper/nav.jade

extends ./layouts/frame.jade

block body
  +main-nav()
  
  main.rlb-content
    section.static-view
      h3 Impressum
      
      p
        strong Falk Hoppe
        br
        | Hufelandstr. 60, 45147 Essen
      
       
      p 
        | Email:  
        strong falkhoppe81@gmail.com
        br
        | Tel.: 
        strong 0201 45878544

    
      h3 Disclaimer
      
      p
        | Dies ist die Internetseite einer Privatperson und das Angebot dieser Webseite hat keinen finanziellen Hintergrund,
        | noch möchte Daten jedweder Art von meinen Kunden sammeln. 


      h3 Datenschutz
      
      p
        | Grundsätzlich gilt für mich, Falk Hoppe, dass der Schutz Ihrer Privatsphäre für uns von höchster Bedeutung ist. 
        | Auf dieser Seite werden keinerlei Informationen über etwaige Besucher gespeichert, weder werden bei Nutzer Cookies hinterlegt, 
        | noch werden Daten zu dritten gesendet um anonymisierte Angaben zu speichern. 
      
      p  Dementsprechen sichere ich Ihnen zu, dass Ihre Angaben entsprechend den geltenden deutschen datenschutzrechtlichen Bestimmungen vertraulich behandelt werden.
      
      h4 Persönliche Daten
      
      p
        | Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten (E-Mail-Adressen, Namen, Anschriften) besteht, 
        | erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis. 
        | Die Nutzung dieser Daten beschränkt sich ausschließlich auf den angegebenen Zweck (Kontakt-, Feedbackformulare, Newsletter etc.).
        
      h3 Links
      
      p Diese Website enthält Links zu anderen Websites.
      
      p Ich, Falk Hoppe, bin für die Datenschutz-Policies oder den Inhalt dieser anderen Websites nicht verantwortlich.
        
    include layouts/footer.jade
  
