extends ./layouts/posts.jade

block content
  +post("The realms of distributed frontend integration", "distributed-frontend-integration")
  
  +post("Progressive Enhancement is not immune to JS errors", "progressive-enhancement-error-immunity")
