extends ./layouts/posts.jade

block content
  +post("The realms of distributed frontend integration", "distributed-frontend-integration")
  
  +post("Progressive Enhancement is not cure to JS exceptions", "pe-exception-immunity")
