.scroll-status
  margin 0 auto
  padding-top 0

.scroll-status-bubble
  background-color rgb(200, 200, 200)
  height .2rem
  width .2rem
  display inline-block
  border-radius 10px
  margin-right .5rem

  &.active
    background-color rgb(124, 122, 122)
